## Preprocessing

In [5]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [6]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
newDataFrame = application_df.drop(columns=['NAME', 'EIN'])
newDataFrame.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [7]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
newDataFrame.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [8]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
ApplicationTypeCounts = newDataFrame['APPLICATION_TYPE'].value_counts()
ApplicationTypeCounts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [10]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
applicationTypesReplacement = ApplicationTypeCounts[ApplicationTypeCounts < 150].index

# Replace in dataframe
for app in applicationTypesReplacement:
    newDataFrame['APPLICATION_TYPE'] = newDataFrame['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
newDataFrame['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [11]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
classificationCount = newDataFrame["CLASSIFICATION"].value_counts()
classificationCount

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [12]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
classificationCount[classificationCount>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [15]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
classificationsReplacement = classificationCount[classificationCount < 800].index

# Replace in dataframe
for cls in classificationsReplacement:
    newDataFrame['CLASSIFICATION'] = newDataFrame['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
newDataFrame['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [17]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
nemericDummies = pd.get_dummies(newDataFrame)
nemericDummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [18]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
X = nemericDummies.drop('IS_SUCCESSFUL', axis=1)
y = nemericDummies['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=44)

In [19]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [20]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=44))

# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=40, activation="relu"))

# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3600

 dense_1 (Dense)             (None, 40)                3240

 dense_2 (Dense)             (None, 1)                 41

=================================================================
Total params: 6,881
Trainable params: 6,881
Non-trainable params: 0
_________________________________________________________________

2023-02-19 16:13:59.344642: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.1 SSE4.2 AVX AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [21]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [22]:
# Train the model
#  YOUR CODE GOES HERE
fitModel = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 967us/step - loss: 0.5691 - accuracy: 0.7204
Epoch 2/100
804/804 [==============================] - 1s 859us/step - loss: 0.5547 - accuracy: 0.7287
Epoch 3/100
804/804 [==============================] - 1s 860us/step - loss: 0.5511 - accuracy: 0.7314
Epoch 4/100
804/804 [==============================] - 1s 859us/step - loss: 0.5496 - accuracy: 0.7311
Epoch 5/100
804/804 [==============================] - 1s 865us/step - loss: 0.5482 - accuracy: 0.7345
Epoch 6/100
804/804 [==============================] - 1s 868us/step - loss: 0.5468 - accuracy: 0.7336
Epoch 7/100
804/804 [==============================] - 1s 882us/step - loss: 0.5458 - accuracy: 0.7336
Epoch 8/100
804/804 [==============================] - 1s 960us/step - loss: 0.5454 - accuracy: 0.7335
Epoch 9/100
804/804 [==============================] - 1s 924us/step - loss: 0.5450 - accuracy: 0.7353
Epoch 10/100
804/804 [==============================] - 1s 909us/step - loss: 0.5447 - accuracy: 0.7349
Epoch 11/100
804/804 [==============================] - 1s 922us/step - loss: 0.5436 - accuracy: 0.7357
Epoch 12/100
804/804 [==============================] - 1s 881us/step - loss: 0.5431 - accuracy: 0.7350
Epoch 13/100
804/804 [==============================] - 1s 888us/step - loss: 0.5426 - accuracy: 0.7357
Epoch 14/100
804/804 [==============================] - 1s 917us/step - loss: 0.5424 - accuracy: 0.7369
Epoch 15/100
804/804 [==============================] - 1s 892us/step - loss: 0.5419 - accuracy: 0.7361
Epoch 16/100
804/804 [==============================] - 1s 887us/step - loss: 0.5415 - accuracy: 0.7364
Epoch 17/100
804/804 [==============================] - 1s 866us/step - loss: 0.5412 - accuracy: 0.7362
Epoch 18/100
804/804 [==============================] - 1s 887us/step - loss: 0.5406 - accuracy: 0.7385
Epoch 19/100
804/804 [==============================] - 1s 899us/step - loss: 0.5407 - accuracy: 0.7374
Epoch 20/100
804/804 [==============================] - 1s 886us/step - loss: 0.5399 - accuracy: 0.7380
Epoch 21/100
804/804 [==============================] - 1s 897us/step - loss: 0.5397 - accuracy: 0.7382
Epoch 22/100
804/804 [==============================] - 1s 991us/step - loss: 0.5401 - accuracy: 0.7385
Epoch 23/100
804/804 [==============================] - 1s 932us/step - loss: 0.5401 - accuracy: 0.7377
Epoch 24/100
804/804 [==============================] - 1s 930us/step - loss: 0.5386 - accuracy: 0.7389
Epoch 25/100
804/804 [==============================] - 1s 870us/step - loss: 0.5392 - accuracy: 0.7381
Epoch 26/100
804/804 [==============================] - 1s 869us/step - loss: 0.5385 - accuracy: 0.7395
Epoch 27/100
804/804 [==============================] - 1s 889us/step - loss: 0.5387 - accuracy: 0.7376
Epoch 28/100
804/804 [==============================] - 1s 948us/step - loss: 0.5378 - accuracy: 0.7388
Epoch 29/100
804/804 [==============================] - 1s 982us/step - loss: 0.5378 - accuracy: 0.7395
Epoch 30/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5373 - accuracy: 0.7384
Epoch 31/100
804/804 [==============================] - 1s 932us/step - loss: 0.5372 - accuracy: 0.7396
Epoch 32/100
804/804 [==============================] - 1s 946us/step - loss: 0.5371 - accuracy: 0.7392
Epoch 33/100
804/804 [==============================] - 1s 954us/step - loss: 0.5371 - accuracy: 0.7401
Epoch 34/100
804/804 [==============================] - 1s 951us/step - loss: 0.5371 - accuracy: 0.7400
Epoch 35/100
804/804 [==============================] - 1s 996us/step - loss: 0.5367 - accuracy: 0.7394
Epoch 36/100
804/804 [==============================] - 1s 963us/step - loss: 0.5368 - accuracy: 0.7402
Epoch 37/100
804/804 [==============================] - 1s 894us/step - loss: 0.5365 - accuracy: 0.7397
Epoch 38/100
804/804 [==============================] - 1s 988us/step - loss: 0.5361 - accuracy: 0.7395
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5360 - accuracy: 0.7388
Epoch 40/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7398
Epoch 41/100
804/804 [==============================] - 1s 973us/step - loss: 0.5357 - accuracy: 0.7398
Epoch 42/100
804/804 [==============================] - 1s 848us/step - loss: 0.5354 - accuracy: 0.7407
Epoch 43/100
804/804 [==============================] - 1s 975us/step - loss: 0.5354 - accuracy: 0.7392
Epoch 44/100
804/804 [==============================] - 1s 998us/step - loss: 0.5352 - accuracy: 0.7413
Epoch 45/100
804/804 [==============================] - 1s 856us/step - loss: 0.5352 - accuracy: 0.7401
Epoch 46/100
804/804 [==============================] - 1s 870us/step - loss: 0.5349 - accuracy: 0.7415
Epoch 47/100
804/804 [==============================] - 1s 949us/step - loss: 0.5351 - accuracy: 0.7402
Epoch 48/100
804/804 [==============================] - 1s 859us/step - loss: 0.5348 - accuracy: 0.7403
Epoch 49/100
804/804 [==============================] - 1s 869us/step - loss: 0.5345 - accuracy: 0.7399
Epoch 50/100
804/804 [==============================] - 1s 853us/step - loss: 0.5345 - accuracy: 0.7399
Epoch 51/100
804/804 [==============================] - 1s 902us/step - loss: 0.5337 - accuracy: 0.7406
Epoch 52/100
804/804 [==============================] - 1s 857us/step - loss: 0.5340 - accuracy: 0.7409
Epoch 53/100
804/804 [==============================] - 1s 840us/step - loss: 0.5341 - accuracy: 0.7415
Epoch 54/100
804/804 [==============================] - 1s 875us/step - loss: 0.5339 - accuracy: 0.7400
Epoch 55/100
804/804 [==============================] - 1s 873us/step - loss: 0.5339 - accuracy: 0.7407
Epoch 56/100
804/804 [==============================] - 1s 918us/step - loss: 0.5341 - accuracy: 0.7406
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5336 - accuracy: 0.7404
Epoch 58/100
804/804 [==============================] - 1s 940us/step - loss: 0.5335 - accuracy: 0.7411
Epoch 59/100
804/804 [==============================] - 1s 908us/step - loss: 0.5337 - accuracy: 0.7409
Epoch 60/100
804/804 [==============================] - 1s 837us/step - loss: 0.5338 - accuracy: 0.7409
Epoch 61/100
804/804 [==============================] - 1s 837us/step - loss: 0.5332 - accuracy: 0.7396
Epoch 62/100
804/804 [==============================] - 1s 838us/step - loss: 0.5333 - accuracy: 0.7412
Epoch 63/100
804/804 [==============================] - 1s 843us/step - loss: 0.5329 - accuracy: 0.7414
Epoch 64/100
804/804 [==============================] - 1s 894us/step - loss: 0.5333 - accuracy: 0.7413
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5327 - accuracy: 0.7415
Epoch 66/100
804/804 [==============================] - 1s 958us/step - loss: 0.5330 - accuracy: 0.7416
Epoch 67/100
804/804 [==============================] - 1s 883us/step - loss: 0.5330 - accuracy: 0.7417
Epoch 68/100
804/804 [==============================] - 1s 857us/step - loss: 0.5328 - accuracy: 0.7418
Epoch 69/100
804/804 [==============================] - 1s 847us/step - loss: 0.5326 - accuracy: 0.7413
Epoch 70/100
804/804 [==============================] - 1s 844us/step - loss: 0.5328 - accuracy: 0.7414
Epoch 71/100
804/804 [==============================] - 1s 849us/step - loss: 0.5324 - accuracy: 0.7406
Epoch 72/100
804/804 [==============================] - 1s 968us/step - loss: 0.5321 - accuracy: 0.7419
Epoch 73/100
804/804 [==============================] - 1s 901us/step - loss: 0.5328 - accuracy: 0.7404
Epoch 74/100
804/804 [==============================] - 1s 935us/step - loss: 0.5320 - accuracy: 0.7424
Epoch 75/100
804/804 [==============================] - 1s 851us/step - loss: 0.5319 - accuracy: 0.7427
Epoch 76/100
804/804 [==============================] - 1s 859us/step - loss: 0.5320 - accuracy: 0.7418
Epoch 77/100
804/804 [==============================] - 1s 850us/step - loss: 0.5320 - accuracy: 0.7422
Epoch 78/100
804/804 [==============================] - 1s 974us/step - loss: 0.5319 - accuracy: 0.7422
Epoch 79/100
804/804 [==============================] - 1s 902us/step - loss: 0.5316 - accuracy: 0.7410

Epoch 80/100
804/804 [==============================] - 1s 851us/step - loss: 0.5319 - accuracy: 0.7415
Epoch 81/100
804/804 [==============================] - 1s 855us/step - loss: 0.5320 - accuracy: 0.7417
Epoch 82/100
804/804 [==============================] - 1s 890us/step - loss: 0.5314 - accuracy: 0.7429
Epoch 83/100
804/804 [==============================] - 1s 849us/step - loss: 0.5315 - accuracy: 0.7421
Epoch 84/100
804/804 [==============================] - 1s 857us/step - loss: 0.5312 - accuracy: 0.7422
Epoch 85/100
804/804 [==============================] - 1s 851us/step - loss: 0.5315 - accuracy: 0.7424
Epoch 86/100
804/804 [==============================] - 1s 849us/step - loss: 0.5312 - accuracy: 0.7417
Epoch 87/100
804/804 [==============================] - 1s 851us/step - loss: 0.5316 - accuracy: 0.7424
Epoch 88/100
804/804 [==============================] - 1s 848us/step - loss: 0.5314 - accuracy: 0.7425
Epoch 89/100
804/804 [==============================] - 1s 852us/step - loss: 0.5311 - accuracy: 0.7426
Epoch 90/100
804/804 [==============================] - 1s 853us/step - loss: 0.5314 - accuracy: 0.7418
Epoch 91/100
804/804 [==============================] - 1s 909us/step - loss: 0.5310 - accuracy: 0.7419
Epoch 92/100
804/804 [==============================] - 1s 999us/step - loss: 0.5309 - accuracy: 0.7428
Epoch 93/100
804/804 [==============================] - 1s 992us/step - loss: 0.5311 - accuracy: 0.7423
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5314 - accuracy: 0.7414
Epoch 95/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5312 - accuracy: 0.7415
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5308 - accuracy: 0.7416
Epoch 97/100
804/804 [==============================] - 1s 916us/step - loss: 0.5310 - accuracy: 0.7421
Epoch 98/100
804/804 [==============================] - 1s 845us/step - loss: 0.5306 - accuracy: 0.7433
Epoch 99/100
804/804 [==============================] - 1s 851us/step - loss: 0.5310 - accuracy: 0.7425
Epoch 100/100
804/804 [==============================] - 1s 848us/step - loss: 0.5306 - accuracy: 0.7413

In [23]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5670 - accuracy: 0.7235 - 327ms/epoch - 1ms/step
Loss: 0.5670058131217957, Accuracy: 0.723498523235321

In [24]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn.save("AlphabetSoupCharity.h5")